@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: red;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F7F7F7;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-title {
  animation: fadeInUp 1.5s ease-out forwards;
}

.animate-fade-subtitle {
  animation: fadeInUpSub 2.2s ease-out forwards;
}

@keyframes fadeInUpSub {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}




@keyframes collapseIn {
  0% {
    max-height: 0;
    opacity: 0.9;
    overflow: hidden;
  }
  100% {
    max-height: 600px; /* Ajusta esto según la altura esperada del contenido */
    opacity: 1;
    overflow: hidden;
  }
}

@keyframes collapseOut {
  0% {
    max-height: 600px; /* Ajusta esto según la altura esperada del contenido */
    opacity: 1;
    overflow: hidden;
  }
  100% {
    max-height: 0;
    opacity: 0.95;
    overflow: hidden;
  }
}

.animate-collapse-in {
  animation: collapseIn 1.5s ease forwards;
}

.animate-collapse-out {
  animation: collapseOut 0.7s ease forwards;
}
